<section id="my-posts">
    <h1>My Cars Posts</h1>

    <div class="my-container">
        {{#if cars}}
            {{#each car}}
                {{> post-card}}
            {{/each}}
            {{else}}
            <div class="no-posts">
                <p class="no-cars">There are no own posts yet....</p>
            </div>
        {{/if}}
    </div>
</section>


        